<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>

<body style="visibility: hidden;">
    <div class="container">
        <div class="row">
            <div class="col-12" id="test">
                <h1 style="text-align: center;">404</h1>
                <p>YANLIŞ GELDİN</p>
            </div>
        </div>
    </div>
</body>

</html>